<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coordinator">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Query"></activity>
        <activity
            android:name=".EditingActivity"
            android:label="Edit Event Details" />
        <activity
            android:name=".SportsEvents"
            android:label="Sports Events" />
        <activity
            android:name=".TechnicalEvents"
            android:label="Technical Events" />
        <activity
            android:name=".EventsActivity"
            android:label="Events Activity" />
        <activity
            android:name=".StudentActivity"
            android:label="Student Activity" />
        <activity
            android:name=".CulturalEvents"
            android:label="Cultural Events" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>